body {
  background-image: url(img/logo.png);
}

h1 {
  color: blue;
}

img {
  width: 400px;
}

.DivClass {
  text-align: center;
}

#ThirdDiv {
  text-align: center;
  background-color: greenyellow;
  height: 600px;
  width: 500px;
  padding: 50px;
  border: 15px solid brown;
}

#spanId {
  text-align: center;
  font-size: 18px;
  margin: 50px;
}
